version: "3.9"

services:
  db:
    image: postgres:16
    container_name: heda-postgres
    restart: always
    environment:
      POSTGRES_DB: heda
      POSTGRES_USER: heda
      POSTGRES_PASSWORD: heda
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build: .
    container_name: heda-api
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app

volumes:
  postgres_data:
